---
import Footer from "~/components/astro/layout/footer.astro";
import Header from "~/components/astro/layout/header.astro";
import Intro from "~/components/astro/content/intro.astro";
import Splash from "~/components/astro/content/splash.astro";
import Head from "~/components/astro/layout/head.astro";
import "~/assets/styles/index.css";
import { SYSTEM_CONFIG } from "~/config";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <Head title="Home" />
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <div id="body-gradient"></div>
    <Header type={"fixed"} />
    <Splash />
    <div class="px-8 py-32 space-y-24" id="home-content">
      <Intro />
      <!-- <Features />
      <Compatibility />
      <Showcase /> -->
    </div>
    <Footer />
  </body>
</html>
