---
import Footer from "~/components/footer.astro";
import Header from "~/components/header-home.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";
import Head from "~/components/head.astro";
import "~/styles/index.css";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <Head title="Home" />
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="px-8 py-32 space-y-24">
      <Intro />
      <!-- <Features />
      <Compatibility />
      <Showcase /> -->
    </div>
    <Footer />
  </body>
</html>
