---
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Head from "~/components/head.astro";
import "~/styles/index.css";
import Projects from "~/components/projects.astro";
import ProjectList from "~/components/project-list";
import ContentSection from "~/components/content-section.astro";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <Head title="Projects" />
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header type={"fixed"} />
    <div class="px-8 py-32 space-y-24">
      <!-- <Projects /> -->
      <ContentSection title="Projects" id="showcase">
        <!-- <div slot="lead">filter</div> -->
        <div class="max-w-6xl space-y-2">
          <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4">
            <ProjectList client:load />
          </div>
        </div>
      </ContentSection>
    </div>
    <Footer />
  </body>
</html>
