---
import { Icon } from "astro-icon";
import WalletConnectionMenu from "~/components/connect-buttons";
---

<button
  id="open-connect-popup-button"
  class="inline-flex btn rounded-md text-sm p-2 font-bold items-center"
  type="button"
  aria-label="Connection"
>
  <i class="fa-solid fa-right-to-bracket"></i>{"  "}Connect
</button>

<div id="connect-modal" class="hidden modal" aria-hidden="true">
  <div class="fixed inset-0 px-8 py-4 bg-default inner-connect">
    <div class="space-y-4" role="dialog" aria-modal="true">
      <header class="text-right">
        <button
          id="close-connect-popup-button"
          type="button"
          class="btn"
          aria-label="Close connection"
        >
          <Icon pack="mdi" name="close" class="h-8" />
        </button>
      </header>
      <div class="flex justify-center">
        <div class="px-8 py-32 space-y-24">
          <div
            class="p-4 w-full max-w-sm rounded-lg border shadow-md sm:p-6 connect-bg"
          >
            <h5
              class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white"
            >
              Connect wallet
            </h5>
            <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
              Connect with one of our available wallet providers or create a new
              one.
            </p>
            <ul class="my-4 space-y-3">
              <li>
                <WalletConnectionMenu client:load />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import MicroModal from "micromodal";
  import * as Cardano from "https://unpkg.com/@emurgo/cardano-serialization-lib-asmjs@10.0.4/cardano_serialization_lib_bg.js";
  window.MilkyDaoCardano = Cardano;
  const connectModalId = "connect-modal";

  const connect = document.querySelector(`#${connectModalId} `);
  const openNavButton = document.querySelector("#open-connect-popup-button");
  const closeNavButton = document.querySelector("#close-connect-popup-button");

  const openConnect = () => {
    console.log("open?");
    MicroModal.show(connectModalId, { disableScroll: true });
  };

  const closeConnect = () => {
    MicroModal.close(connectModalId);
  };

  openNavButton.addEventListener("click", openConnect);
  closeNavButton.addEventListener("click", closeConnect);

  connect.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeConnect();
    }
  });
</script>

<!-- https://github.com/withastro/compiler/issues/395 -->
<!-- <noscript>
    <style>
      #open-connect-popup-button {
        @apply hidden;
      }
    </style>
  </noscript> -->

<style>
  #open-connect-popup-button i {
    @apply mr-2;
  }
  #connect-modal {
    z-index: 111;
    @apply fixed;
  }
  html[data-theme="dark"] .inner-connect {
    @apply bg-gray-700;
  }
  html[data-theme="light"] .inner-connect {
    @apply bg-gray-200;
  }
  .fixed-header {
    @apply fixed top-0 bottom-auto;
    @apply text-default bg-default border-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
