---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import logoPic from "../assets/icon-milky-dao.svg";
---

<ContentSection title="Governance" id="intro">
  <picture slot="eyebrow">
    <!-- <img src={logo_icon.src} alt="Milky Dao" class="h-32" /> -->
    <img src={logoPic} alt="Milky Dao" class="h-32" />
  </picture>
  <Fragment slot="lead">
    Milky DAO is a platform for creating and interacting with
    <span class="text-primary">Cardano</span> DAOs.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://milkydao.lilgoats.io/api/"
      class="flex items-center btn rounded-md gap-3 bg-orange-700 text-gray-100 hover:bg-orange-100 px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the API</span>
    </a>
    <a
      href="/projects"
      class="flex items-center btn rounded-md gap-3 bg-orange-700 text-gray-100 hover:bg-orange-100 px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
